VITE_API_URL=http://localhost:5000

VITE_FIREBASE_API_KEY=AIzaSyDotE-F52xG63rABIE3qkSDe4JXs3TzA4U
VITE_FIREBASE_AUTH_DOMAIN=facultytrack-9f800.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=facultytrack-9f800
VITE_FIREBASE_STORAGE_BUCKET=facultytrack-9f800.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=865156388845
VITE_FIREBASE_APP_ID=1:865156388845:web:d5113e034d5f754fd3b9e4
